@model CheckoutViewModel
@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}


<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Thanh toán</li>
    </ul>

    <div class="the-title">
        <h2>
            Hóa đơn
        </h2>
        <img src="~/images/hinh-anh-trang-chu/logo-leaf.png" />
    </div>
    @if (TempData["SuccessMsg"] != null)
    {
        <br />
        <span class="alert alert-success">@TempData["SuccessMsg"]</span>
    }
    else
    {
        <form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
            <div style="margin: -45px 70px 0 70px;">

                <table class="table table-borderless">
                    <tr>
                        <th scope="row">Tên </th>
                        <td>
                            <input style="width: 500px" class="form-control" asp-for="CheckoutModel.Name" id="input_UserName" placeholder="Nhập họ tên..." />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Số điện thoại: </th>
                        <td colspan="2">
                            <input style="width: 500px" asp-for="CheckoutModel.PhoneNumber" class="form-control" id="input_Mobi" placeholder="Nhập số điện thoại..." />

                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Địa chỉ nhận hàng: </th>
                        <td colspan="2">
                            <textarea style="width: 500px" asp-for="CheckoutModel.Address" class="form-control" id="textarea_Address" placeholder="Nhập địa chỉ nhận hàng..."></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Email xác nhận: </th>
                        <td colspan="2">
                            <input runat="server" style="width: 500px" asp-for="CheckoutModel.Email" class="form-control" id="input_Email" placeholder="Nhập email xác nhận..." />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Phương thức thanh toán: </th>
                        <td colspan="2">
                            <div class="form-check cod">
                                <input runat="server" id="radio_PayHome" class="form-check-input" type="radio" name="gridRadios" value="option1">
                                <img width="25" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-cod.svg" />
                                <label class="form-check-label" for="gridRadios1">
                                    Thanh toán tiền mặt khi nhận hàng (COD)
                                </label>
                            </div>
                            <div class="form-check cod">
                                <input class="form-check-input" type="radio" name="gridRadios" value="option3" disabled>
                                <img width="25" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-mo-mo.svg" />
                                <label class="form-check-label" for="gridRadios4">
                                    Thanh toán bằng ví MoMo
                                </label>
                            </div>
                            <div class="form-check cod">
                                <input runat="server" id="radio_PayMomo" class="form-check-input" type="radio" name="gridRadios" value="option4">
                                <img width="25" src="~/images/logo/icon-nganluong.png" />
                                <label class="form-check-label" for="gridRadios6">
                                    Thanh toán bằng ví Ngân Lượng
                                </label>
                            </div>
                            <div class="form-check cod">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option2" disabled>
                                <img width="25" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-atm.svg" />
                                <label class="form-check-label" for="gridRadios3">
                                    Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán)
                                </label>
                            </div>
                            <div class="form-check cod">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5" disabled>
                                <img width="25" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-zalo-pay.svg" />
                                <label class="form-check-label" for="gridRadios5">
                                    Thanh toán bằng ví ZaloPay
                                </label>
                            </div>
                            <div class="form-check cod">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" disabled>
                                <img width="25" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-credit.svg" />
                                <label class="form-check-label" for="gridRadios2">
                                    Thanh toán bằng thẻ quốc tế Visa, Master, JCB
                                </label>
                                <div style="padding-left: 30px">
                                    <img width="24" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-credit-type-visa.svg" alt="visa">
                                    <img width="24" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-credit-type-mastercard.svg" alt="mastercard">
                                    <img width="24" src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-credit-type-jcb.svg" alt="jcb">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <table class="table table-borderless table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Giá tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartItems)
                        {
                            <tr>
                                <td width="400px" class="align-middle">
                                    <img class="img-fluid" alt=""
                                         src="@(Configuration["BaseAddress"] + item.Image)"
                                         style="width: 60px; height: 60px; float: left;">

                                    <span style="font-size: 16px; max-height: 40px; max-width: 250px; text-overflow: ellipsis; line-height: 20px; -webkit-line-clamp: 2; overflow: hidden; padding-left: 10px;">
                                        @item.Description
                                    </span>

                                </td>
                                <td class="align-middle"> @item.Quantity</td>
                                <td class="align-middle">@item.Price</td>
                                <td>@(item.Quantity * item.Price)</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr />
            </div>
            <div class="row pb-4">
                <div class="col-9" style="padding: 7px 20px 0 0">
                    Tổng <small>@Model.CartItems.Count sản phẩm </small>
                </div>
                <div class="col-3" style="padding: 0 90px 0 0">
                    <span id="span_Amount" class="pull-right" style="font-weight: 700; font-size: 25px; color: #6DD853">@Model.CartItems.Sum(x => x.Quantity * x.Price).ToString("N0")</span>
                    <span id="span_VAT" class="pull-right" style="font-size: 13px;">(đã bao gồm VAT)</span>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Thanh toán </button>
        </form>
    }
</div>

